@use '../colors.scss';
@use '../base.scss';

$map-keys: colors.$color-map !default;

.CircuitInfo__Examined {
  background-color: var(--color-black);
  padding: var(--space-ml);
  border-radius: var(--border-radius-large);

  user-select: none;
  pointer-events: none;
}

.ObjectComponent {
  pointer-events: auto;
}

.ObjectComponent__Titlebar {
  border-top-left-radius: var(--border-radius-huge);
  border-top-right-radius: var(--border-radius-huge);

  white-space: nowrap;

  -ms-user-select: none;
  user-select: none;
}

.ObjectComponent__Content {
  white-space: nowrap;
  background-color: hsla(0, 0%, 0%, 0.5);

  -ms-user-select: none;
  user-select: none;
}

.ObjectComponent__Greyed_Content {
  white-space: nowrap;
  background-color: hsla(0, 0%, 7.5%, 0.5);

  -ms-user-select: none;
  user-select: none;
}

.ObjectComponent__Port {
  position: relative;
  width: 13px;
  height: 13px;
}

.ObjectComponent__PortPos {
  position: absolute;
  inset: 0;
}

@each $color-name, $color-value in $map-keys {
  .color-stroke-#{$color-name} {
    stroke: hsl(from $color-value h s calc(l + var(--adjust-color))) !important;
  }

  .color-fill-#{$color-name} {
    fill: hsl(from $color-value h s calc(l + var(--adjust-color))) !important;
  }
}

.IntegratedCircuit__BlueBorder {
  border: var(--border-thickness-tiny) solid var(--color-border-primary);
  border-radius: var(--border-radius-small);
}
